<div class = "timeline-heading-container">  <p>TIMELINE</p> </div>
<div class = "timeline-component-container">
        <div class = "timeline-container">
                <div>
                    <div class = "timeline-sub-heading"><p class = "year">1998</p></div>
                    <div class = "timeline-content">BLA BLA</div>
                </div>    
        </div>
        <div class = "timeline-container-1">
                <div>
                    <div class = "timeline-sub-heading-1"><p class = "year-1">2013</p></div>
                    <div class = "timeline-content-1">BLA BLA</div>
                </div>    
        </div>
        <div class = "timeline-container">
                <div>
                    <div class = "timeline-sub-heading"><p class = "year">1998</p></div>
                    <div class = "timeline-content">BLA BLA</div>
                </div>    
        </div>
        <div class = "timeline-container-1">
                <div>
                    <div class = "timeline-sub-heading-1"><p class = "year-1">2013</p></div>
                    <div class = "timeline-content-1">BLA BLA</div>
                </div>    
        </div>
        <div class = "timeline-container">
                <div>
                    <div class = "timeline-sub-heading"><p class = "year">1998</p></div>
                    <div class = "timeline-content">BLA BLA</div>
                </div>    
        </div>
        <div class = "timeline-container-1">
                <div>
                    <div class = "timeline-sub-heading-1"><p class = "year-1">2013</p></div>
                    <div class = "timeline-content-1">BLA BLA</div>
                </div>    
        </div>
</div>
