
.option{
    width: 33%;
    margin: 0 auto;
    padding-top: 20px;
    background: white;
    border: 0;
    cursor: pointer;
}
.active{
   border-bottom: 1px solid;
   color: black;
   cursor: pointer;
}
.options-container{
    width:80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 10px;
    color: silver;
}
h4{
    letter-spacing: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0 auto;
}
.heading-container{
    text-align: center;

}