

  <div class = "skills-heading-container">  <p>SKILLS</p> </div>
  <div class = "skills-container">
    <mat-tab-group>
        <mat-tab label="languages"> <ng-template matTabContent><div class = "template-container"><app-skills-chart></app-skills-chart></div></ng-template> </mat-tab>
        <mat-tab label="tech-stack"> <ng-template matTabContent><div class = "template-container"><app-skills-technology-stack></app-skills-technology-stack></div></ng-template> </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
</div>