
  <!-- <h4>SKILLS</h4>
</div>

<div class = "options-container" >
   <div  class = "option active" [routerLink]="['languages']" >LANGUAGES</div> 
   <div  [ngClass]="toggleActive()">LANGUAGES</div> 
   <div [ng-class]="{'option' : true, 'active' : true}">LANGUAGES</div> 
  <div class = "option">DEV-EXP</div>
  <div class = "option">TECHNOLOGY-STACK</div>
</div>
<div> -->
  
    <mat-tab-group>
        <mat-tab label="languages"> <ng-template matTabContent><div class = "template-container"><app-skills-chart></app-skills-chart></div>></ng-template> </mat-tab>
        <mat-tab label="tech-stack"> <ng-template matTabContent><div class = "template-container"><app-skills-technology-stack></app-skills-technology-stack></div></ng-template> </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
